.container{
    background: linear-gradient(#FA641E, #FF881F);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding: 16px;
    padding-bottom: 100px;
}

.containerTitle{
    font-size: 40px;
    font-weight: bold;
    color: white;
    width: 70%;

}

.imagemVendas{
    width: 253px;
    position: absolute;
    left: 50%;
    top: -50px;
}

.containerText{
    color: white;
    margin: 20px 0px;
}