.container{
    background: linear-gradient(#FA641E, #FF881F);
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.containerText{
    font-size: 40px;
    font-weight: bold;
    color: white;
    width: 80%;

}

.imagemVendas{
    width: 253px;
    position: absolute;
    left: 50%;
    top: -50px;
}